<html>
<head>
    <title>Om Nom Nom</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        #board {
            text-align: center;
        }

        .gametile {
					height: 100px;
            margin-bottom: 1em;
        }
				
				.dice {
					display: inline-block;
					width: 15px;
					height: 15px;
					background-color: black;
					margin: 5px;
				}
    </style>
</head>

<body>
	<div id="header">
		<h1>Om Nom Nom</h1>
		{% for animal in animals %}
		<h2>{{ animal }}</h2>
		{% endfor %}
	</div>
	<div class="fl w-80 pa2">
		<div class="mw9 center ph3-ns">
			{% for column in game_tiles %}
			<div class="cf ph2-ns" id="board">
				{% set column_loop = loop %}
				{% for animal in column %}
				<div class="fl w-100 w-third-ns pa2">
					<div class="gametile outline bg-white pv4" data-id="{{ ( column_loop.index - 1) * 3 + loop.index - 1}}">
						{{ animal }}
						<div class="dice-count"></div>
					</div>
				</div>
					{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="fl w-20 pa3" id="score">
		<h3>Score</h3>
		<ul class="list pl0 measure center"></ul>
	</div>
	</div>
<script>
    $(document).ready(function () {
        var state = null;

        $.ajax({
            url: "/init_session",
            type: "POST",
            data: JSON.stringify({num_players: 2}),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                state = data;
								console.log(state);
								display_score(state.score);
								display_dice(state.dices_distribution);
            }
        });
				
        $(".gametile").on("click", function (event) {
            alert($(this).attr("data-id"));
        });

				function display_score(score) {
					var score_el = $('#score ul');
					score_el.html("");
					for(var i = 0; i < score.length; i++) {
						score_el.append('<li class="lh-copy pv3 ba bl-0 bt-0 br-0">Player ' + (i + 1) + ': ' + score[i] + '</li>');
					}
				}

				function display_dice(dice) {
					for(var i = 0; i < dice.length; i++) {
						var dice_el_str = '<div class="dice"></div';
						var el = $('[data-id=' + i +'] .dice-count');
						for(var j = 0; j < dice[i]; j++) {
							el.append(dice_el_str);
						}
						console.log(el);
					}
				}
    })
</script>
</body>
</html>
